@{
	Layout = "_Layout";
}
@model NavigatorModel
<div class="banner-box">
	<img src="~/assets/images/intro_background.png" class="banner-background" />
	<div class="banner-select-box">
		<a href="/" id="back-home"></a>
		<div class="select-box" id="topSelect">
			<div class="banner-top-nav">
				<span class="origin-item">@Model.Navigator.Keys.ToList()[Model.TopMenuIdx]</span>
				<span class="dropdown-icon"></span>
			</div>
			<div class="options">
				@{
					List<string> topMenus = Model.Navigator.Keys.ToList();
					List<NavigatorPath> subMenus = Model.Navigator[topMenus[Model.TopMenuIdx]].ToList();
					for (int topMenuIdx = 0; topMenuIdx < topMenus.Count; topMenuIdx++)
					{
						<div class="option @(topMenuIdx == Model.TopMenuIdx ? " selected" : "")" data-route=@Model.Navigator[topMenus[topMenuIdx]].ToList()[0].Path><span>@topMenus[topMenuIdx]</span></div>
					}
				}
			</div>
		</div>
		<span class="select-box-border"></span>
		<div class="select-box" id="subSelect">
			<div class="banner-sub-nav">
				<span class="origin-item">@subMenus[Model.SubMenuIdx].Name</span>
				<span class="dropdown-icon"></span>
			</div>
			<div class="options">
				@{
					for (int subMenuIdx = 0; subMenuIdx < subMenus.Count; subMenuIdx++)
					{
						<div class="option  @(subMenuIdx == Model.SubMenuIdx ? " selected" : "")" data-route=@subMenus[subMenuIdx].Path><span>@subMenus[subMenuIdx].Name</span></div>
					}
				}
			</div>
		</div>
		<div style="background: url(@ViewData["banner_url"]) no-repeat;" class="sub-banner-box"></div>
	</div>
</div>
@RenderBody()
<script type="text/javascript" src="/js/banner-navigator.js"></script>